* {
    /* background-color: black; */
    /* color: white; */
}

body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: lightblue;
    overflow: hidden;
    position: relative;

    /* Start of Snowflake Effect */
    /* position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* End of Snowflake Effect */
} 

header {
    background-color: black;
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 3rem;
}

.brand {
    font-size: 32px;
    font-weight: 600;
}

.icons {
    font-size: 25px;
    margin-right: 25px;
}

.nav a {
    font-size: 20px;
    color: pink;
    text-decoration: none;
    margin-left: 3rem;
}

/* Start of the typewriting effect */
.typewriter {
    display: flex;
    /* justify-content: center; */
}

.typewriter p {
    font-family: Georgia;
    font-size: 1.5rem;
    margin-inline: auto;
    overflow: hidden;
    /* Keep on a single line */
    white-space: nowrap;
    /* The cursor */
    border-right: 1px solid;
    /* steps = number of characters */
    animation: typing 3s steps(22) forwards;
    blink 1s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}
/* End of Typewriting Effect */

/* Start of Icon Hover Effect */
a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    aspect-ratio: 1;
    font-size: 1.5rem;
    color: #7a7a7a;
    background-color: #373737;
    border-radius: 50%;
    transition: color 0.5s ease-in-out;
}

a::after {
    position: absolute;
    z-index: -1;
    content: '';
    inset: -3px;
    border-radius: inherit;

    background: conic-gradient
        (greenyellow 100%, transparent 100%);
}

@property --fill {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 0%;
}

a:hover {
    color: greenyellow;
    --fill: 100%;
}

a::after {
    position: absolute;
    z-index: -1;
    content: '';
    inset: -3px;
    border-radius: inherit;

    background: conic-gradient
        (greenyellow var(--fill),
        transparent var(--fill));
        transition: --fill 0.6s ease-in-out;
}
/* End of the Icon Hover Effect */

/* Start of Snowflake Effect */
/* #happy-holidays {
    font-family: 'Codystar', Georgia;
    color: white;
    font-size: 50px;
    letter-spacing: 3px;
    text-align: center;
}

.snowfall {
    position: absolute;
    z-index: -1;
    inset: 0;
    overflow: hidden;
    background: linear-gradient(#1090d0, #2612aa 85%);
}

.snowflake {
    --small: 3px;
    --medium: 7px;
    width: var(--small);
    height: var(--small);
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    animation: snow 6s linear infinite,
        wind 10s ease-in-out infinite;
}

.snowflake:nth-child(2n+3) {
    3, 5, 7, ...
    width: var(--medium);
    height: var(--medium);
}

.snowflake:nth-child(1) {
    left: 25%;
    animation-delay: 1s;
}

.snowflake:nth-child(2) {
    left: 40%;
    animation-delay: 4s;
}

.snowflake:nth-child(3) {
    left: 55%;
    animation-delay: 3s;
}

.snowflake:nth-child(4) {
    left: 30%;
    animation-delay: 7s;
}

.snowflake:nth-child(5) {
    left: 80%;
    animation-delay: 2s;
}

.snowflake:nth-child(6) {
    left: 65%;
    animation-delay: 4s;
}

.snowflake:nth-child(7) {
    left: 90%;
    animation-delay: 6s;
}

.snowflake:nth-child(8) {
    left: 45%;
    animation-delay: 9s;
}

.snowflake:nth-child(9) {
    left: 70%;
    animation-delay: 5s;
}

.snowflake:nth-child(10) {
    left: 20%;
    animation-delay: 5.5s;
}

@keyframes snow {
    100% {
        top: 100%;
    }
}

@keyframes wind {
    50% {
        transform: translateX(120px);
    }
} */
/* End of Snowflake Effect */